name: Publish NuGet

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

jobs:
  build-and-publish:
    if: ${{ github.event_name == 'push' && ( startsWith(github.ref, 'refs/tags/') || contains(github.event.head_commit.message, 'push') ) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore
        working-directory: src

      - name: Build
        run: dotnet build --configuration Release --no-restore
        working-directory: src

      - name: Pack
        run: dotnet pack PlaywrightAutomation.csproj --configuration Release -o ./publish
        working-directory: src

      - name: Publish to nuget.org
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: |
          dotnet nuget push ./publish/*.nupkg --api-key $NUGET_API_KEY --source https://api.nuget.org/v3/index.json --skip-duplicate
        working-directory: src